/* Overall Typography Declarations */
    body {
    font-family: "minion-pro", Minion Pro, Adobe Garamond Pro, Adobe Caslon Pro, Georgia, serif;
    -webkit-font-smoothing: antialiased;
 }

/* Begin Responsive Design Expressions */
@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
   }

@media only screen and (max-width: 976px) {
    .masthead {
        padding: 3em 0;
    }
}
/* End Responsive Design Expressions */


/* Begin Masthead Declarations */
.masthead {
    /* Layout Declarations */
    background: black;
    height: auto;
    width: 100%;
}

.masthead h1 {
    color: #ff9c00;
    font-size: 3.0em;
    font-weight: 300;
    padding: 10px 0 5px 30px;
    margin-bottom: -55px;
}

.masthead h2 {
    color: #707070;
    font-size: 2.75em;
    font-weight: 300;
    padding: 10px 0 5px 30px;
}
/* End Masthead Declarations */


/* Begin Nav Menu Declarations */
.nav-links ul {
    height: 2.5em;
    text-align: center;
    margin-top: -3.0em;
}

.nav-links ul {
    margin: 0;
    padding-top: 1px;
}

.nav-links ul li {
    /* Layout Declarations */
    list-style: none;
    display: inline;
    padding: 10px 15px 10px 15px;
}

.nav-links ul li a {
    color: black;
    font-size: 1.75em;
    text-decoration: none;
}

.nav-links ul li a:hover {
    color: #ff9c00;
    font-size: 1.50em;
    text-decoration: none;
}

.nav-links #active a {
    color: #ff9c00;
    font-size: 1.75em;
    text-decoration: none;
}
/* End Nav Menu Declarations */



/* Begin Main Body Declarations */
.hero {
    background: url('http://assets.entrepreneur.com/article/1413519170_gratisography-1024x682.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    width: 100%;
}

.hero .container {
    display: table-cell;
    height: 600px
}

.hero h1 {
    font-size: 2.50em;
    font-weight: 100;
    text-align: left;
    padding-left: 75px;
    padding-top: 80px;
    font-style: italic;
    margin-bottom: -25px;
}

.hero p {
    font-size: 2.10em;
    font-weight: 100;
    text-align: left;
    padding-left: 75px;
}
/* End Main Body Declarations*/


/* Begin Footer Declarations */
.wrap-border {
    margin-top: 30px;
    font-size: 1em;
    color: #888888;
    text-align: center;
 }

.wrap-border hr {
    display: block;
    width: 150px;
    margin: 10px auto;
    height: .5px;
}

.wrap-border ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 1px 4px;
    opacity: 0.5;
}

.wrap-border ul {
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.wrap-border a {
    cursor: pointer;
    color: black;
    white-space: nowrap;
    text-decoration: none;
}
/* End Footer Declarations*/


